.footer {
  display: flex;
  text-align: left;
  color: #545454;
  padding-top: 67px;
  margin: 0;
  padding-bottom: 60px;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    padding-left: 27px;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    font-family: "Inter", sans-serif;
    padding-bottom: 36px;
    padding-left: 27px;
  }
}
